@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Syncfusion HTML to PDF Converter</h1>
    <p class="lead">Syncfusion HTML to PDF converter can be easily integrated into any application with five simple lines of code. Using this library, you can turn an entire webpage into a PDF file. Or just convert a portion of the page. Your PDF will just look like the webpage you converted—it preserves all graphics, images, text, fonts, links, and the layout of the original HTML document or webpage.</p>
    <form method="post">
     
    <input type="submit" value="Convert to PDF">            
    </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Convert HTML to PDF files in C#</h2>
        <p>
            The .NET HTML-to-PDF converter allows you to convert URLs, HTML5, CSS, CSS3, and HTML to PDF with just five lines of C# code.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Preserves format</h2>
        <p>
            The PDF will look just like the webpage you converted. It preserves all graphics, images, text, fonts, links, and the layout of the original HTML document or webpage.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Partial webpage to PDF</h2>
        <p>
            A part of a webpage can be converted to PDF based on the HTML tag ID.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Learn more &raquo;</a>
        </p>
    </div>
</div>

